<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Mission01_WEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>homestart</servlet-name>
  <servlet-class>controller.FrontController</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>homestart</servlet-name>
  <url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>history</servlet-name>
  <servlet-class>controller.FrontController</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>history</servlet-name>
  <url-pattern>/history</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>load</servlet-name>
  <servlet-class>controller.FrontController</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>load</servlet-name>
  <url-pattern>/load</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>distupdate</servlet-name>
  <servlet-class>controller.FrontController</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>distupdate</servlet-name>
  <url-pattern>/distupdate</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>showwifi</servlet-name>
  <servlet-class>controller.FrontController</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>showwifi</servlet-name>
  <url-pattern>/showwifi</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>historydel</servlet-name>
  <servlet-class>controller.FrontController</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>historydel</servlet-name>
  <url-pattern>/historydel</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>bookmarkadd</servlet-name>
  <servlet-class>controller.FrontController</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>bookmarkadd</servlet-name>
  <url-pattern>/bookmark/bookmarkadd</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>bookmarklist</servlet-name>
  <servlet-class>controller.FrontController</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>bookmarklist</servlet-name>
  <url-pattern>/bookmark/bookmarklist</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>bookmarkedit</servlet-name>
  <servlet-class>controller.FrontController</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>bookmarkedit</servlet-name>
  <url-pattern>/bookmark/bookmarkedit</url-pattern>
</servlet-mapping>
<bean class="api.APIService" />
</web-app>