@charset "UTF-8";
table {
  margin-top: 10px;
  width: 100%;
}
thead {
	height:50px;
}
th, td {
padding: 5px;
  border: solid white , 
}
th {
	background:#04AA6D;
	color : white;
}
tr:nth-child(even) {background-color: #f2f2f2;}

#header {
	margin-bottom: 20px;;
}