@charset "UTF-8";
thead {
	height:50px;
	background: pink;
}
th, td {
padding: 5px;
  border: solid white , 
}
th {
	background:#04AA6D;
	color : white;
}
tr:nth-child(even) {background-color: #f2f2f2;}

table {
  width: 100%;
}